body{
	background:#C3F0F6;	
	}
	
#follow_us{
	width:100%;
	height:30px;
	background:#555555;
	text-align:center;
	text-indent:720px;
	line-height:30px;
	display:block;
	}
#follow_us a{
	color:#FFF;
	font-size:14px;
	
	}

#foot{
	background:#555555;
	height:80px;
	text-align:center;
	color:#FFF;
	font-size:14px;
	display:block;
	width:100%;
	padding-top:15px;
	}
	
.main{
	height:auto;
	width:100%;
	background:url(1.png) repeat-x;
}
#accredit{
	height:585px;
	text-indent:-9999000px;
	background:url(0.gif) no-repeat 50% 50%;
	}
	.accredit_sina{
		height:24px;
		width:103px;
		background:url(ico_sina_103x24.png) no-repeat;
		display:block;
		position:absolute;
		right:280px;
		top:390px;
		
		}
#m_head{
	text-indent:-1000px;
	background:url(3.png) no-repeat center;;
	height:211px;
}
.choose{
	display:block;
	width:1000px;
	margin:0 auto;
	}
.step{
	display:block;
	width:610px;
	margin:0px auto;
	padding:30px;
	overflow:hidden;
	}
	.step_1{
		height:230px;
		}
	.step_1 em,.step_2 em{
		display:block;
		height:35px;
		font-size:15px;
	}
	.step_2{
		height:135px;
	}
	.dowhat{
		width:460px;
		height:70px;
		background:url(inputwhat.png) no-repeat center center;
		padding:10px 20px 10px 10px;
		border:0;
		padding-left:30px;
		}
	.do{
		height:87px;
		width:85px;
		background:url(button.png);
		border:0;
		text-indent:-9000px;
		float:right;
		}
	.dotype li{
		width:200px;
		height:175px;
		padding-top:5px;
		float:left;
		background:url(bg01.png) no-repeat 21px center;
		text-align:center;
		}
	.dotype img{
		display:block;
		margin:0 auto;
		}
	.sayhi{
		height:70px;
		font-weight:bold;
		font-size:15px;
		display:block;
		}
	.man-list{
		overflow:hidden;	
	}
	.man-list li{
		float:left;
		width:195px;
		height:75px;
		}
	.man-list img{
		width:50px;
		height:50px;
		padding:2px;
		border:1px solid #ccc;
		float:left;
		margin-right:10px;
		}
	.man-list em,.man-list span{
		display:block;
		overflow:hidden;
	}
	.man-list em{
		font-size:14px;
		
	}
	.man-list span{
		color:#ccc;	
	}
	.man-list em a{
		color:#0015b1;
		font-size:14px;
	}
	.man-list span a{
		color:#666666;
		font-size:12px;
	}
	.hi{
		text-align:center;
		margin-top:20px;	
	}
	.hi button{
		width:227px;
		height:52px;
		background:url(button2.png);
		border:0px;
		text-indent:-10100px;	
	}
	.hi span{
		padding-left:20px;
		}
	.xman em{
		display:block;
		height:68px;
		text-indent:-10000px;
		background:url(title1.png) no-repeat left center;
		}
	.xman .t{
		background:url(bigbg.png) no-repeat center center;
		height:200px;
		padding-top:100px;
		padding-left:20px;
	}

	.xman textarea{
		border:0;
		width:480px;
		height:70px;
		background:url(inputwhat.png) no-repeat center center;
		padding:10px;
		margin-top:-5px;
		}
	.xman .avater{
		width:80px;
		height:80px;
		float:left;
		}
		.fb,.xg{
			width:166px;
			height:52px;
			background:url(bj.png) no-repeat;
			text-indent:-9000px;
			border:0;
			float:left;
			margin-left:10px;
			margin-top:10px;
			}
		.fb{
			background:url(wb.png) no-repeat;
			margin-left:233px;
			float:left;
		}
.who{
	float:left;
	margin-right:10px;
	margin-top:20px;
}
/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
     2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
     3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
*/

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
mark { background: #ff0; }
